<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Airsoft Malaga</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" [class.show]="isHovering('armas')"
                    (mouseenter)="toggleHover('armas', true)" (mouseleave)="toggleHover('armas', false)">
                    <a class="nav-link dropdown-toggle" href="#" id="armasDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Armas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="armasDropdown" [class.show]="isHovering('armas')">
                        <a class="dropdown-item" routerLink="/subcategoria/fusiles">Fusiles</a>
                        <a class="dropdown-item" routerLink="/subcategoria/subfusiles">Subfusiles</a>
                        <a class="dropdown-item" routerLink="/subcategoria/pistolas">Pistolas</a>
                        <a class="dropdown-item" routerLink="/subcategoria/francotiradores">Francotiradores</a>
                        <a class="dropdown-item" routerLink="/subcategoria/escopetas">Escopetas</a>
                    </div>
                </li>
                <li class="nav-item dropdown" [class.show]="isHovering('municion')"
                    (mouseenter)="toggleHover('municion', true)" (mouseleave)="toggleHover('municion', false)">
                    <a class="nav-link dropdown-toggle" href="#" id="municionDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Municion y Recarga
                    </a>
                    <div class="dropdown-menu" aria-labelledby="municionDropdown" [class.show]="isHovering('municion')">
                        <a class="dropdown-item" routerLink="/subcategoria/bolas de airsoft">Bolas</a>
                        <a class="dropdown-item" routerLink="/subcategoria/baterías y cargadores de batería">Baterias y
                            Cargadores</a>
                        <a class="dropdown-item" routerLink="/subcategoria/cargadores pistola">Cargadores</a>
                    </div>
                </li>
                <li class="nav-item dropdown" [class.show]="isHovering('accesorios')"
                    (mouseenter)="toggleHover('accesorios', true)" (mouseleave)="toggleHover('accesorios', false)">
                    <a class="nav-link dropdown-toggle" href="#" id="accesoriosDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Accesorios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accesoriosDropdown"
                        [class.show]="isHovering('accesorios')">
                        <a class="dropdown-item" routerLink="/subcategoria/gas, co2 y mantenimiento">Gas,Co2 y
                            Mantenimiento</a>
                        <a class="dropdown-item" routerLink="/subcategoria/granadas y lanzagranadas">Granadas y
                            Lanzagranadas</a>
                        <a class="dropdown-item" routerLink="/subcategoria/miras y red dot">Miras y Red Dot</a>
                        <a class="dropdown-item" routerLink="/subcategoria/correas y landyards">Correas y Landyards</a>
                        <a class="dropdown-item" routerLink="/subcategoria/monturas y raíles">Monturas y Railes</a>
                        <a class="dropdown-item" routerLink="/subcategoria/linternas y láseres">Linternas y laseres</a>
                        <a class="dropdown-item" routerLink="/subcategoria/Cámaras y gomas Hop-up">Camaras y Gomas
                            Hop-Up</a>
                    </div>
                </li>
                <li class="nav-item dropdown" [class.show]="isHovering('internos')"
                    (mouseenter)="toggleHover('internos', true)" (mouseleave)="toggleHover('internos', false)">
                    <a class="nav-link dropdown-toggle" href="#" id="internosDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Internos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="internosDropdown" [class.show]="isHovering('internos')">
                        <a class="dropdown-item" routerLink="/categoria/internos">Internos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/fabricantes">Fabricantes</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>