<div class="container mt-5">
    <h2>{{ subcategory }} Products</h2>
    <div *ngIf="productos.length > 0; else noProducts">
        <mat-grid-list cols="3" gutterSize="16px">
            <mat-grid-tile *ngFor="let product of productos" [colspan]="1" [rowspan]="1">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ product.nombre }}</mat-card-title>
                        <mat-card-subtitle>Manufacturer: {{ product.fabricante.nombre }}</mat-card-subtitle>
                    </mat-card-header>
                    <img class="product-image" mat-card-image
                        [src]="'../../../assets/images/' + formatFileName(product.nombre) + '.webp'"
                        alt="{{ product.nombre }}">
                    <mat-card-content>
                        <p><strong>Description:</strong> {{ product.descripcion }}</p>
                        <p><strong>Price:</strong> {{ product.precio | currency }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary">Add to Cart</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <ng-template #noProducts>
        <p>No products found.</p>
    </ng-template>
</div>

<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
        <span class="text-muted">© 2024 Airsoft Malaga</span>
    </div>
</footer>