<div class="container mt-5">
    <h2>Todos los productos:</h2>
    <div class="form-group">
        <label for="subcategorySelect">Filtrar por Subcategoria</label>
        <select id="subcategorySelect" class="form-control" [(ngModel)]="selectedSubcategory"
            (change)="onSubcategoryChange()">
            <option value="">Todas Subcategorias</option>
            <option *ngFor="let subcategory of subcategories" [value]="subcategory">{{ subcategory }}</option>
        </select>
    </div>
    <div *ngIf="paginatedProducts.length > 0; else noProducts">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of paginatedProducts">
                <mat-card class="product-card">
                    <mat-card-header>
                        <mat-card-title>{{ product.nombre }}</mat-card-title>
                        <mat-card-subtitle>Manufacturer: {{ product.fabricante.nombre }}</mat-card-subtitle>
                    </mat-card-header>
                    <img class="product-image" mat-card-image
                        [src]="'../../../assets/images/' + formatFileName(product.nombre) + '.webp'"
                        alt="{{ product.nombre }}">
                    <mat-card-content>
                        <p><strong>Description:</strong> {{ product.descripcion }}</p>
                        <p><strong>Price:</strong> {{ product.precio | currency }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary">Add to Cart</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <mat-paginator [length]="filteredProducts.length" [pageSize]="pageSize" [pageSizeOptions]="[6, 9, 12]"
            (page)="handlePageEvent($event)">
        </mat-paginator>
    </div>
    <ng-template #noProducts>
        <p>No products found.</p>
    </ng-template>
</div>

<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
        <span class="text-muted">© 2024 Airsoft Malaga</span>
    </div>
</footer>