/* Navbar */
.navbar {
    margin-bottom: 20px;
}

/* Grid */
.mat-grid-tile {
    display: flex;
    justify-content: center;
}

.mat-card {
    width: 100%;
}

.mat-card-image {
    object-fit: cover;
    height: 200px;
}

.container {
    max-width: 1200px;
}

/* Footer */
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 3rem;
}